<!-- ============================================================== -->
<!-- Loading Page -->
<!-- ============================================================== -->
<div class="" id="loading" [class.newclass]=hideLoad>
  <div class="loading text-center">
    <!-- <p class="loading-image" style="font-size:2em;color: violet">Loading</p> -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper"  [class.newclass]=hideMain>
  <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <ma-navigation></ma-navigation>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <ma-sidebar></ma-sidebar>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <breadcrumb></breadcrumb>
          <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- End Start Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <ma-rightsidebar></ma-rightsidebar>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2017 Ecom - Bot
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- login page -->
<!-- ============================================================== -->
<div class="" [class.newclass]=hideLogin>
  <div class="" style="padding: 10% 35% 20% 35%" >
    <div class="card container" style="height: 300px">
      <div class="card-body">
        <h3 class="card-title" style="padding-top: 75px"><a routerLink="">Login with facebook</a></h3>
        <!-- <button (click)="login()" class="btn btn-lg btn-primary btn-block">
          Login
        </button> -->
        <button (click)="loginWithOptions()" class="btn btn-lg btn-primary btn-block">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
