<div class="row">
  <div class="col-md-4">
  <button type="button" class="btn waves-effect waves-light btn-outline-success deliver-style">Deliver your message now</button>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Deliver Your Message Now</h2>
        <div class="row">
          <div class="col-md-4">
            <button type="button" class="btn btn-block btn-success">Send</button>
          </div>
          <div class="col-12">
            <br>
            <hr>
            <br>
          </div>
          <div class="col-md-9">
            <h4 class="card-title"><span class="user-font">0 users</span> (all) match this filter.</h4>
            <p class="">Choose which users will receive the message using predefined filters or your own filters.</p>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-block btn-primary"><i class="icon-people"></i> USER FILTER</button>
          </div>
          <div class="col-12">
            <hr>
            <br>
          </div>
          <div class="col-10">
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-lg btn-grey bton-card"><i class="ti-receipt"></i><p class="font-17">TEXT</p></button>
            <button type="button" class="btn btn-lg btn-grey bton-card"><i class="ti-image"></i><p class="font-17">GALLERY</p></button>
            <button type="button" class="btn btn-lg btn-grey bton-card"><i class="ti-list"></i><p class="font-17">LIST</p></button>
            <button type="button" class="btn btn-lg btn-grey bton-card"><i class="icon-options"></i><p class="font-17">QUICK REPLY</p></button>
            <button type="button" class="btn btn-lg btn-grey bton-card"><i class="icon-bubbles"></i><p class="font-17">TYPING</p></button>
            <button type="button" class="btn btn-lg btn-grey bton-card"><i class="ti-plus"></i></button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
