<!-- Column -->
<div class="col-md-12">
  <div class="card">
    <div class="card-header p-30">
      <div class="card-actions">
        <a class="" data-action="collapse"><i class="ti-minus"></i></a>
        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
        <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
      </div>
      <h4 class="card-title m-b-0">Product Overview</h4>
    </div>
    <div class="card-body collapse show">
      <div class="table-responsive">
        <table class="table product-overview">
          <thead>
            <tr>
              <th>Product</th>
              <th>Photo</th>
              <th>Category</th>
              <th>Added on</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sofa</td>
              <td>
                <img src="../assets/images/gallery/chair.jpg" alt="iMac" width="80">
              </td>
              <td>Home</td>
              <td>10-7-2017</td>
              <td>
                <span class="label label-success font-weight-100">Paid</span>
              </td>
              <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
            </tr>
            <tr>
              <td>Book</td>
              <td>
                <img src="../assets/images/gallery/chair2.jpg" alt="iPhone" width="80">
              </td>
              <td>Books</td>
              <td>09-7-2017</td>
              <td>
                <span class="label label-warning font-weight-100">Pending</span>
              </td>
              <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
            </tr>
            <tr>
              <td>Stool</td>
              <td>
                <img src="../assets/images/gallery/chair3.jpg" alt="apple_watch" width="80">
              </td>
              <td>Furniture</td>
              <td>08-7-2017</td>
              <td>
                <span class="label label-success font-weight-100">Paid</span>
              </td>
              <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
            </tr>
            <tr>
              <td>Chair</td>
              <td>
                <img src="../assets/images/gallery/chair4.jpg" alt="mac_mouse" width="80">
              </td>
              <td>Furniture</td>
              <td>02-7-2017</td>
              <td>
                <span class="label label-danger font-weight-100">Failed</span>
              </td>
              <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Column -->
